/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    width: 1350px;
    height: 150px;
}

/* Cuerpo de la página */
main {
    width: 1310px; /* 1350px - 40px */
    min-height: 400px;
    background-color: #b0cca3;
    padding: 20px;
}

/* Footer */
footer {
    width: 1310px; /* 1350px - 40px */
    height: 150px;
    background-color: #f1b47e;
    font-weight: bold;
    padding: 20px;
}

/* Logo */
#logo {
    float: left;
    width: 150px;
    height: 150px;
    background-color: #9eb5bb;
}

#cabecera {
    float: left;
    width: 1200px;
    height: 150px;
    background-color: #e3a59a;
}

/* Nav */
nav {
    width: 1200px;
}

/* Lista de navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

/* Botones */
nav ul li {
    width: 270px;
    height: 120px;
    background-color: #a696d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}