/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    width: 1350px;
    height: 150px;
}

/* Cuerpo de la página */
main {
    width: 1310px; /* 1350px - 40px */
    min-height: 400px;
    background-color: #b0cca3;
    padding: 20px;
}

/* Footer */
footer {
    width: 1310px; /* 1350px - 40px */
    height: 150px;
    background-color: #f1b47e;
    font-weight: bold;
    padding: 20px;
}

/* Logo */
#logo {
    float: left;
    width: 150px;
    height: 150px;
    background-color: #9eb5bb;
}

/* Nav */
#cabecera {
    float: left;
    width: 1200px;
    height: 150px;
    background-color: #e3a59a;
    display: flex;
    align-items: center;
}

/* Lista de navegación */
#cabecera ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
}

/* Botones */
#cabecera ul li {
    height: 120px;
    background-color: #a696d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 40px;
    flex: 1 1 270px; /* flex-grow 1, flex-shrink 1, flex-basis 270px */
}

/* Último botón */
#cabecera ul li:last-child {
    margin-right: 40px;
}

/* Flex para tamaños diferentes */
/* El primer botón crece más y no se encoge */
#cabecera ul li:first-child {
    flex: 2 0 270px; 
}

/* El segundo botón no crece y se encoge más */
#cabecera ul li:nth-child(2) {
    flex: 0 2 270px;
}

/* Los demás botones crecen y se encogen por igual */
#cabecera ul li:nth-child(n+3) {
    flex: 1 1 270px;
}